@import url(https://db.onlinewebfonts.com/c/9caf965400ad4def18b1100102b5b81e?family=Arial+Nova+Bold); 

body {
    font-family: "Arial Nova Bold";
    color: #fff;
    background-color: #000;
    margin: 2%;
}

#top-header {
    text-align: center;
    margin: auto;
}

#whatis {
    text-align: center;
}

#knownfor {
    text-align: center;
    margin: auto;
}

ul, li {
    list-style: none;
}

#members, #albums {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    
}

table {
    margin: auto;
}

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin: 0%;
}

div.scroll-container img {
    padding: 10px;
}